.containt{ padding-top: 5px;}
.listBox{ width: 100%; }
.listBox a{ display: block; width: 95%; height: 100px; background: #ffffff; margin: auto; margin-bottom: 5px; }
.listBox a .listCont{ width: 100%; height: 100%;  }
.listBox a .listCont .listContLeft{  height: 100%; margin-right: 5px;}
.listBox a .listCont .listContLeft img{ height: 100%; }
.listBox a .listCont .listContRight{
  height: 100%; padding: 5px;
  display: flex; display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
}
.listBox a .listCont .listContRight p{ width: 100%; font-size: 14px; font-weight: 700; color: #323232; margin-bottom: 3px; text-overflow: ellipsis;
  white-space: nowrap; overflow: hidden; }
.listBox a .listCont .listContRight span{ width: 100%; font-size: 12px;  color: #6a6a6a; text-overflow: ellipsis;
  white-space: nowrap; overflow: hidden; }
.listBox a .listCont .listContRight span:nth-child(2){ line-height: 25px; }
