.SelectArea-box{
    width: 100vw;
    height: 5rem;
    background-color: #ffffff;
    margin-bottom: 10px;

}
.SelectArea-box .SelectArea-cont{
  position: relative;
    overflow:scroll;
    height: 100%;
    width: 100%;
}
.SelectArea-box .SelectArea-cont i{
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: #23b3ff;
  bottom: 8%;
  left: 25px;
}
.SelectArea-box .SelectArea-cont ul{
  height: 100%;
  width: 880px;
  margin: 0;
  padding: 0;
}
.SelectArea-box .SelectArea-cont ul li{
  width: 80px;
  height: 100%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.SelectArea-box .SelectArea-cont ul li div{
  height: 100%;
  width: 60px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

}
.SelectArea-box .SelectArea-cont ul li i{

}
