.search-box{
    height: 75px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.search-box .search-con{
    height: 50px;
    width: 96%;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
  overflow: hidden;
}
.search-box .search-con span{
    width: 8%;
    margin: 0 0 0 5px;
    text-align: center;
}
.search-box .search-con span img{
    width: 60%;
}
.search-box .search-con input{
    width: calc( 90% - 10px );
    height: calc( 100% - 4px );
    border: none;
    outline: none;
    font-size: 1.5rem;
}
